*{
    margin-top: 5px;
    padding: 0;
}

body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
    background-image: url(hills.jpg);
    background-size: cover;
}

header {
	background-color: #003366;
	color: #ffffff;
  height: 115px;
}

img{
  display: list-item;
  align-items: start;
  width: 50px;
  display: block;
  border-radius: 50%;
  margin-top: 0;
}

header h1 {
	margin: 0;
    text-align: center;
}

a{
  text-decoration: none;
}

.nav {
    margin-top: 0;
    display: flex;
    justify-content: space-around;
    text-decoration: none;
  }
  
  .nav li a {
    color: #303c4e;
    text-decoration: none;
  }
  
  .nav li a:hover {
    text-decoration: none;
    color: #7fdbbb;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
  }
  
aside{
  text-align: centre;
  background-color: #303c4e;
  color: #ffffff;
  width: 200px;
  height: 100vh;
  padding: 12px;
}

.card-container{
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 100px;
}
  